<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
		<link href="assets/css/burger_style.css" rel="stylesheet">
		<title>EAT DA BURGER!!!</title>
	</head>
	<body>

		<div class = "jumbotron">

		  <h2 class = "text-center"> EAT DA BURGER </h2>

		  <h2 class = "text-center"> <img src="assets/img/burger.png"> </h2>


		</div>
		{{{ body }}}
	</body>
</html>
